.icon {
  /* height: 0.75em; */
  /* ↓ Override the em value with `1cap`
        where `cap` is supported */
  /* height: 1cap;
  width: 0.75em;
  width: 1cap; */
  height: 0.95em;
  width: 0.95em;
}
